// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-content {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;

  &__header {
  padding:  0 20px;
  height: 100px;
  background-color: #253141;

  h1 {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: 2px;
    float: left;
  }

  &__icon {

  i {
    color: #ffffff;
    font-size: 16px;
    line-height: 100px;
    letter-spacing: 5px;
    float: right;
      }
    }
  }

  &__group-contents {

    &--list {
      padding: 20px 20px 40px;
      height: 31px;
      background-color: #2f3e51;

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        padding-bottom: 5px;
      }
    }
  }
}

.main-content {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #fafafa;
  float: right;
  
  &__header {
    padding: 0px 40px;
    height: 100px;
    background-color: white;
}
}
